@model List<WebSocketProject.Models.Area>

<ul class="nav nav-pills nav-justified mt-3 custom-shadow" id="rooms">
    @foreach (var area in Model)
    {
        <li class="nav-item">
            <a class="nav-link @(area.IsSelected ? "active " : "")btn-area rounded-0"
               id="@(area.Name.Trim())-tab"
               data-toggle="tab"
               href="#@area.Name.Trim()"
               role="tab"
               aria-controls="@area.Name.Trim()"
               aria-selected="@area.IsSelected.ToString().ToLower()"
               data-socket-ip="@area.SocketIp.Trim()"
               data-target-area="@area.Name.Trim()">@area.Description.Trim()</a>
        </li>
    }
</ul>